

.content-box{
    margin: auto auto;
    background-color: #000000b5;
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photos_box{
    margin: 2rem auto;
    width: 100%;
    height: 25vh;
}

.photo{
    width: 250px;
    height: 250px;
    margin-right: 1rem;
}

.photos-title{
    margin: -8rem auto 1rem;
    font-family: 'Nunito', sans-serif;
    color: #f2f1ef;;
    letter-spacing: .1rem;
}

.photos-center-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
