.chart_div{
    margin-top: 6vh;
    width: 40vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chart_title{
    margin-bottom: 6vh
}

@media (max-width: 600px) {

    .chart_div{
        width: 80vw;
        height: 70vh
    }

    .chart_title{
        white-space: nowrap;
    }
}