.gearslider{
    height: 45vh;
    width: 40vw;
    background-color: transparent;
    margin: auto auto;
}

.imageContainer{
    height: 45vh;
    width: auto;
    margin: auto auto;

}

.expandGearImages{
    height: 45vh;
    width: auto;
    margin: auto auto;
}