.slider{
    background-color: transparent;
    width: 24vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image{
    max-width: 24vw;
    max-height: 35vh;
    width: auto;
    height: auto;
    margin: 0 auto;
}