.slider{
    background-color: transparent;
    width: 24vw;
    height: 35vh;
}

.image-container{
    width: 24vw;
    height: auto;
}

.slider-image{
    width: auto;
    height: 35vh;
    margin: 0 auto;
}