*{
    box-sizing: border-box;
}

body{
    /* height: 100%;
    overflow: auto; */
    margin: 0;
    font-family: 'Sergoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height:1.5;
    color: #333;
    overflow-x: hidden;
}