.side-drawer {
  height: 100%;
  background: #1b262b;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 210;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.avatar {
  margin-left: 6vw;
  margin-top: 8vh;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -40vh;
  text-align: right;
  margin-right: 6vw;
}

.user{
  text-align: center;
  color: #f2f1ef;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3vh;
  margin-top: -1vh;
}

.side-drawer a {
  color: #f2f1ef;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  text-decoration: none;
}

.side-drawer a:hover {
  color: #FE6B38;
}

.sidebarlogo {
  height: 10vh;
  width: auto;
}

.sidebarlogoimage {
  margin-top: 5vh;
  height: 10vh;
  width: auto;
  padding-left: 9vw;
}


/* @media (max-width: 768px){
    .side-drawer{
        display: none
    }
} */