* {
    box-sizing: border-box;
}

html{
    background-color: #1C272B;
}

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #f2f1ef;;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.mainlogo{
    height: 25vh;
    margin-left: -2vw;
    animation: fadein 3s;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgba(51, 51, 51, 0.719);
    z-index: 1;
}

.home-overlay-content{
    text-transform: none;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
}

.header-content {
    z-index: 2;
    background:  rgba(28, 39, 43, 0.678);
    margin: 0 auto;
    width: 70vw;
}


.header-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 4.5vh;
    color: #f2f1ef;
}

.buttons-wrapper {
    padding-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 6vh
}

.login {
    padding: 3vh 5vw;
    background: #FE6B38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.login:hover{
    color: white;
}

.register {
    padding: 3vh 5vw;
    background: #3FC380;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #1C272B;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.aboutSliderDiv{
    display: none;
}

.section-a{
    padding: 20px 0;
    background: #1C272B;
    color: #f2f1ef;
    height: 105vh;
    display: flex;
}

.register:hover{
    color: white;
}

.containers{
    width: 45vw;
    height: 40vh;
    padding-left: 7.5vw;
}

.top-container{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 50vh;
}

.homepage-titles{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.homecolumn{
    display: flex;
    flex-direction: column;
}

.homepage-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.7vh;
}

.homepage-text-top{
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.homeicons{
    height: 13vh;
    width: 7vw;
}

.sectionb{
width: 100%;
background-color: black;
}

.studioimages{
    margin-bottom: -1vh;
}

.studioimage{
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
}

.sectionc{
    background-color: #f2f1ef;
}

.footer{
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.footerlogo{
    height: 12vh;
    width: 20vw;
    padding-left: 2vw;
    margin-top: 4vh;
}

.footertext{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #f2f1ef;
    padding-right: 2vw;
    padding-top: 5vh;
}

.AboutSlider{
    margin-bottom: -3vh;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-height: 1200px){
    .homespacer{
        height: 15vh;
    }
}

@media screen and (max-width: 600px) {

    .mainlogo{
        height:15vh;
    }

    .login{
        padding: none;
    }

    .v-header{
        height: 105vh;
    }

    .header-content{
        width: 100vw;
    }

    .fullscreen-video-wrap{
        display: none;
    }

    .header-overlay{
        height: 50vh;
        width: 100%;
    }

    .header-content p {
        font-size: 3.5vh;
    }

    .section-a{
        display: none;
    }

    .whyisthisdivhere{
        background-color: #313232
    }

    .studioimage{
        width: 100vw;
        height: auto;
        margin: 5vh auto;
    }

    .footerlogo{
        height: 7vh;
        width: auto;
        margin-top: 0;
        margin-left: 30vw;
    }

    .footer{
        height: 11vh;
    }

    .aboutSliderDiv{
        display: block;
        background-color: #1C272B;
        padding-bottom: 10vh;
    }

    .sectionb{
        margin-top: -5vh;
    }

    .slick-dots li button:before{
        color: white;
        font-size: 1.25vh;
    }

    .slick-dots li button:after{
        color: #FE6B38;
        font-size: 1.25vh;
    }

}