.background {
    height: 100vh;
    width: 100%;
    background-color: #1C272B;
}

.header {
    background-color: transparent;
    position: sticky;
    padding-top: 1rem;
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.spacer-left {
    width: 4vw;
}

.spacer-mid {
    width: 50vw;
}

.loading-gear{
    margin-top: 20vh;
}

.buttons {
    height: 6vh;
    margin-left: 2vw;
    cursor: pointer;
}

.menu-button {
    height: 6vh;
    margin-left: 2vw;
    cursor: pointer;
}

.logo {
    height: 15vh;
}

.dashboard-content-box {
    margin: auto auto;
    background-color: #00000059;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10vh;
}

.titleDiv {
    width: 100%;
    margin-top: 5vh;
}

.spanDiv {
    width: 100%;
    margin-bottom: -1vh;
}

.whiteSpan {
    color: #f2f1ef;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-left: 3vw;
}

.orangeSpan {
    color: #FE6B38;
    letter-spacing: .3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.orangeSpanLink{
    color: #FE6B38;
    letter-spacing: .3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.orangeSpanLink:hover{
    color: white;
}

.categoryHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #f2f1ef;
    letter-spacing: .1rem;
    text-align: center;
    text-justify: center;
}

.categoryBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
}

.menu-text {
    color: #f2f1ef;
    margin-left: 3vw;
    letter-spacing: .2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
}

.menu-select {
    color: #FE6B38;
    letter-spacing: .3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
}

.categoryDiv {
    display: flex;
    flex-direction: column;
}

.pageButtonWrapper {
    margin: auto 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.nextbutton {
    padding: 1vh 1vw;
    background: #FE6B38;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2vh;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.nextbutton:hover {
    color: black;
}

@media (max-width: 768px) {

    .html{
        max-width: 100%;
        overflow-x: hidden;
    }

    .buttons {
        display: none
    }
    .logo {
        height: 10vh;
        width: auto;
        padding-right: 10vw;
    }
    .header {
        height: 12vh;
        position: fixed;
        z-index: 12;
        background-color: #1C272B;
    }
    .categoryBox {
        flex-direction: column;
        align-content: center;
    }
    .categoryDiv {
        flex-direction: column;
        align-content: center;
    }

    .categoryBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider{
        width: 70vw;
    }

    .slider-image{
        width: 100%;
    }

    .dashboard-content-box {
        padding-top: 15vh;
        flex-direction: column;
    }

    .nextbutton{
        margin-right: 21vw;
    }

    .menu-button {
        height: 50px;
        width: auto
    }
}