

.submission-field{
width: 65vw;
height: 20rem;
background: #00000059;
border: none;
padding: 5px;
font-family: 'Montserrat', sans-serif;
font-size: 3vh;
color: #f2f1ef;;
letter-spacing: .1rem;
text-align: center;
word-wrap: break-word;
max-width: 65vw;
}

.descriptioncenterbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}