.description-title{
    font-family: 'Nunito', sans-serif;
    color: #f2f1ef;;
    letter-spacing: .1rem;
    text-align: center;
}

.submission-field{
width: 40rem;
height: 20rem;
background-color: rgba(34, 31, 31, 0.884);
border: none;
padding: 5px;
font-family: 'Nunito', sans-serif;
color: #f2f1ef;;
font-size: 1.1rem;
letter-spacing: .1rem;
text-align: center;
word-wrap: break-word;
max-width: 40rem;
}

.descriptioncenterbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}